<div class="card">
  <div class="card-header">
    {{#if is-logged-in}}
      {{#if dashboard}}
      <a href="/dashboard/edit/{{id}}"
      {{else}}
      <a href="/post/{{id}}"
      {{/if}}
      
    {{else}}
    <a href="/post/{{id}}" data-bs-toggle="modal" data-bs-target="#login-modal"
    {{/if}}
    class="btn-no-style">{{title}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{post_text}}</p>
  </div>
  <div class="card-footer text-muted">
    Posted by {{user.username}} on {{format_date created_at}}
  </div>
</div>
