<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="mb-3">
      <label class="form-label" for="post-title">Title</label>
      <input class="form-control" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="post-text">Content</label>
      <textarea class="form-control" name="post-text" id="post-text" rows="4" cols="100">{{post.post_text}}</textarea>
    </div>
    <div class="mb-3">
      Created by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button class="btn btn-primary" type="submit">Save post</button>
    <button class="btn btn-danger" id="delete-btn" type="button">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Add comment</button>
  </div>
</form>

{{>comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>